
@import url("shared.css");

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Barlow;
}
main {
  max-width: var(--block-width);
  margin: auto;
  min-height: 100vh;
  padding: 2rem 1rem 1rem 1rem;
}
a {
  color: var(--contrasted);
  text-decoration-thickness: 3px;
  text-decoration-color: var(--blue);
}
a:hover {
  text-decoration-color: var(--red);
}

#browser {
  margin-top: 1rem;
  border: 1px solid #666;
}
#browser > h2 {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-weight: 100;
  margin: 0;
  padding: 0.2rem;
}
#browser form {
  background: #eee;
  border-bottom: 1px solid #666;
  padding: 0.4rem;
  display: flex;
  gap: 0.4rem;
}
#browser form input[name="url"] {
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
  padding: 0.4rem;
  border-radius: 4px;
  border: 1px solid #000;
}
#browser form input[name="url"]:focus {
  outline: 2px solid var(--green);
}
#browser form input[type="submit"] {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  border: 1px solid #000;
  background: var(--new-purple);
  color: #fff;
  cursor: pointer;
  transition: 100ms color background;
}
#browser form input[type="submit"]:hover {
  background: var(--light-pink);
  color: #000;
}
#browser form input[type="submit"]:active {
  background: var(--red);
  color: #fff;
}
