
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Barlow";
  src: url("fonts/Barlow-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

:root {
  --yellow: #fff500;
  --new-blue: #00b7ba;
  --deep-green: #008487;
  --new-purple: #7b65ea;
  --light-pink: #ff959d;
  --deep-red: #bf0033;

  --green: #00ff75;
  --purple: #cd76ea;
  --orange: #ffb443;
  --red: #ff5e5e;
  --blue: #39dbff;
  --contrasted: #00819e;
  --text-width: 80rem;
  --block-width: 960px;
  --header-font-size: 1.6rem;
  --brutal-border: 5px solid #000;
  /*--brutal-border: 5px solid oklch(from var(--theme) l c calc(h + 180));*/
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Barlow;
  background: var(--theme, var(--deep-red));
  background-image: url("tile.png");
  background-blend-mode: var(--blend);
}
main {
  max-width: var(--block-width);
  margin: auto;
  min-height: 100vh;
  padding: 2rem 1rem 1rem 1rem;
}
a {
  color: var(--contrasted);
  text-decoration-thickness: 3px;
  text-decoration-color: var(--blue);
}
a:hover {
  text-decoration-color: var(--red);
}
dfn {
  font-style: normal;
  font-weight: 700;
}
var {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ccc;
}
code, pre {
  font-size: 1rem;
}

header {
  display: flex;
  border: var(--brutal-border);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
h1 {
  font-weight: 300;
  font-size: 5rem;
  margin: 10rem 0.5rem 0.5rem 1rem;
}
nav {
  text-align: right;
  flex-grow: 1;
  margin-right: 1rem;
}
nav > ul {
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
}
nav > ul > li {
  font-size: var(--header-font-size);
  display: inline-block;
  margin-left: 1rem;
}
nav > ul > li > a {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
nav > ul > li > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--theme, var(--deep-red));
}
h2 {
  border-bottom: var(--brutal-border);
  font-weight: 400;
  font-size: var(--header-font-size);
  padding: 0.5rem;
  margin: 0 0 1rem 0;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-transform: uppercase;
}
h3 {
  margin: 1rem;
  font-weight: 400;
  font-size: var(--header-font-size);
}
section {
  background-color: #fff;
  border: var(--brutal-border);
  margin: 2rem 0;
}
p, section > ul, section > ol, section > dl {
  margin: 0 1rem 1rem 1rem;
  max-width: 70ch;
  line-height: 1.4;
  font-size: 1.2rem;
}
section > ul, section > ol {
  padding-left: 1rem;
  max-width: calc(70ch - 1rem);
}
section ul > li {
  list-style-type: square;
}
dt {
  font-weight: bold;
  margin-top: 1rem;
}
dd {
  margin: 0 0 1rem 1.4rem;
}


#what > h2 { text-decoration-color: var(--orange); }
#decisions > h2 { text-decoration-color: var(--purple); }
#code > h2 { text-decoration-color: var(--blue); }
#demos > h2 { text-decoration-color: var(--red); }
footer {
  display: flex;
  border: var(--brutal-border);
  align-items: center;
  background: #fff;
}
footer p {
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width:800px) {
  header {
    display: block;
  }
  nav {
    text-align: left;
  }
  nav > ul > li {
    display: block;
  }
}
