
@import url("shared.css");

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Barlow;
  background: var(--theme, var(--deep-red));
  background-image: url("tile.png");
  background-blend-mode: var(--blend);
}
main {
  max-width: var(--block-width);
  margin: auto;
  min-height: 100vh;
  padding: 2rem 1rem 1rem 1rem;
}
a {
  color: var(--contrasted);
  text-decoration-thickness: 3px;
  text-decoration-color: var(--blue);
}
a:hover {
  text-decoration-color: var(--red);
}
dfn {
  font-style: normal;
  font-weight: 700;
}
var {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ccc;
}
code, pre {
  font-size: 1rem;
}

header {
  display: flex;
  border: var(--brutal-border);
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}
h1 {
  font-weight: 300;
  font-size: 5rem;
  margin: 10rem 0.5rem 0.5rem 1rem;
}
nav {
  text-align: right;
  flex-grow: 1;
  margin-right: 1rem;
}
nav > ul {
  list-style-type: none;
  margin: 0.5rem;
  padding: 0;
}
nav > ul > li {
  font-size: var(--header-font-size);
  display: inline-block;
  margin-left: 1rem;
}
nav > ul > li > a {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
nav > ul > li > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--theme, var(--deep-red));
}
section {
  background-color: #fff;
  border: var(--brutal-border);
  margin: 2rem 0;
}
p, section > ul, section > ol, section > dl {
  margin: 0 1rem 1rem 1rem;
  max-width: 70ch;
  line-height: 1.4;
  font-size: 1.2rem;
}
section > ul, section > ol {
  padding-left: 1rem;
  max-width: calc(70ch - 1rem);
}
section ul > li {
  list-style-type: square;
}
dt {
  font-weight: bold;
  margin-top: 1rem;
}
dd {
  margin: 0 0 1rem 1.4rem;
}


#what > h2 { text-decoration-color: var(--orange); }
#decisions > h2 { text-decoration-color: var(--purple); }
#code > h2 { text-decoration-color: var(--blue); }
#demos > h2 { text-decoration-color: var(--red); }
footer {
  display: flex;
  border: var(--brutal-border);
  align-items: center;
  background: #fff;
}
footer p {
  margin-top: 0;
  margin-bottom: 0;
}

@media only screen and (max-width:800px) {
  header {
    display: block;
  }
  nav {
    text-align: left;
  }
  nav > ul > li {
    display: block;
  }
}
